<h1>
<% if logged_in? %>
      <h1><%= current_user.name%>'s meals</h1>
    <% else %>
      <h1>No one logged in</h1>
    <% end %>
</h1>

<h3><%= link_to "New Meal", new_meal_path %> </h3>

<% @meals.each do |m| %>
<h3> <%=link_to "meal", meal_path(m) %>:</h3>
    <ul>
        <li> title: <%= m.title %></li>
        <li> description: <%= m.description %></li>
        <li> calories: <%= m.calories_amount %></li>
    </ul>
<% end %>