<h1><%= current_user.name %></h1>

<% if @user == current_user %>
<div>
    <%= link_to("Delete My account", user_path(@user), method: "delete" ,data: {confirm: "Don't leave!!"})%>
</div>
<% end %>

<h3><%= link_to "New Meal", users_path %></h3>
<% @user.meals.each do |m| %>
<h3> <%=link_to "meal", meal_path(m) %>:</h3>
    <ul>
        <li> title: <%= m.title %></li>
        <li> description: <%= m.description %></li>
        <li> calories: <%= m.calories_amount %></li>
    </ul>

<% end %>

