<!DOCTYPE html>
<html>
  <head>
    <title>NewPath</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  <body>
      <ul>
        <li><%= link_to("Home", root_path) %></li>
        <% if logged_in? %>
          <li><%= link_to "Logout", logout_path, {method: "DELETE"} %></li>
          <li><%= link_to "Add Meal", new_meal_path %></li>
          <li><%= current_user.name %></li>
        <% else %>
          <%= link_to "Login", new_session_path %>
        <% end %>
      </ul>
    
    <div class="container">
        <%= yield %>
    </div>

  </body>
</html>
